textarea {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-align: left;
    border: 1px solid #00000029;
    width: 346px;
    height: 104px;
    border-radius: 4px;
    padding: 10px;
    resize: none;
}
.count{
    text-align: end;
    font-size: 10px;
}